<div class="row">
  <div class="col-sm-9">
    <div *ngIf="!hidenNewVideo">
      <h2>New Video </h2>
      <form #form="ngForm" (ngSubmit)="onSubmitAddVideo(form.value)" class="well">
        <div>
          <label>Title</label>
          <input type="text" class="form-control" required name="title" ngModel>
        </div>
        <div>
          <label>Url</label>
          <input type="text" class="form-control" required name="url" ngModel>
        </div>
        <div>
          <label>Description</label>
          <input type="text" class="form-control" required name="discription" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Save </button>
      </form>
    </div>


    <video-detail (updateVideoEvent)= "onupdateVideoEvent($event)"
                  (deleteVideoEvent)="ondeleteVideoEvent($event)"
                  *ngIf="selectVideo && hidenNewVideo" [video]="selectVideo"></video-detail>
  </div>

<div class="col-sm-3">
  <button (click)="newVideo()" style="margin-bottom:2px" type="button" class="btn btn-success btn-block"> + New Video </button>
  <video-list (selectVideo)="onselectVideo($event)" [videos]="Videos"></video-list>

</div>


</div>